[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
httpx = "*"
kazoo = "*"
python-dotenv = "*"
pymongo = "*"
apscheduler = "*"
aioredis = "*"

[dev-packages]
flake8 = "*"
pytest = "*"

[requires]
python_version = "3.9"
